@font-face{
  font-family:course_playericon;
  src:url(/assets/font/course_playericon.woff2) 
  format('woff2'),
  font-weight:400;
  font-style:normal;
  font-display:block
}
.navbar-brand img {
	width: 75px;
}
.navbar-brand {
	margin-right: 0;
}
.navbar {
	background-color: transparent;
}
#player_slider {
	width: 100%;
}
#player_slider .slider-selection {
	background: gold;
}
.player-div {
	background-color: #000;
	color: #fff;
}

/*add the over flow into the left side*/
.option-content.is-hidden {
    overflow-y: auto;
    max-height: 500px;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  _transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  /*transition: margin-left .5s;*/
}

.open-sidenav {
	padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    margin-right: 1rem;
}
.open-sidenav:hover {
	border-color: rgba(0,0,0,.1);
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.hide {
  display: none;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  }
div#center {
    text-align: center;
}
video {
    width: 90%;
        height: 70vh;

}
.slider-handle.round{
  border-radius: 0px;
}
.slider.slider-horizontal {
    width: 100%;
  }

.slider-selection{
    background: gold !important;

}
.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle{
  border-radius: 0px;
}
table td {
    border: 1px solid white;
}
html{
    overflow-x: hidden;
}
span a {
    color: white;
    text-decoration: underline;
}
span a:hover{
   color: gold;
}

.option-heading a ,.option-lesson a{
padding: 0px 0px 0px 16px;
}
.fa-plus-square:before , .fa-minus-square:before {
    color: white;
     transition: all .3s linear 0s;
}
.option-heading i, .option-lesson i {
    float: left;
    font-size: 20px;
    margin-top: 4px;
}
.option-heading a:hover{
 color: black;
}
.option-lesson a.topics {
    padding: 8px 0px 8px 22px;
}
/* Helpers */
.is-hidden { 
  display: none;
   }
.option-heading  {
  border-bottom: 1px solid #dedfe0;
    background-color: #f7f8fa;
    padding: 16px 0px 16px 10px;
}
.option-lesson{
   padding: 16px 0px 5px 30px;
}
/*.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}*/
div#mySidenav{
  z-index: 999999;
  overflow: hidden;
}
/* resing issue of left side */

div#mySidenav .ui-resizable-handle.ui-resizable-e {
    width: 30px;
    z-index: 99999;
}
.se-pre-con{
  background: url(../images/loader-64x/Preloader_2.gif) center no-repeat #fff;
    width: 100%;
    height: 100vh;
    z-index: 1;
    /* background: aquamarine; */
    position: fixed;
}
/*#loader{
            position: relative;
            width: 50px;
            height: 50px;
            border: 2px solid rgba(255,255,255,0.2);
            border-radius: 50px;
            top:100px;
            left:50%;
            margin-left: -25px;
            animation-name: spinner 0.4s linear infinite;
          -webkit-animation: spinner 0.4s linear  infinite;
          -moz-animation: spinner 0.4s linear  infinite; 
            }
        #loader:before{
            position: absolute;
            content:'';
            display: block;
            background-color: rgba(0,0,0,0.2);
            width: 80px;
            height: 80px;
            border-radius: 80px;
            top: -15px;
            left: -15px;
            }
        #loader:after{
            position: absolute;
            content:'';
            width: 50px;
            height: 50px;
            border-radius: 50px;
            border-top:2px solid white;
            border-bottom:2px solid white;
            border-left:2px solid white;
            border-right:2px solid transparent;
            top: -2px;
            left: -2px;
            }
        
        @keyframes spinner{
            from {transform: rotate(0deg);}
            to {transform: rotate(360deg);}
            }

        @-webkit-keyframes spinner{
            from {transform: rotate(0deg);}
            to {transform: rotate(360deg);}
            }

        @-moz-keyframes spinner{
            from {transform: rotate(0deg);}
            to {transform: rotate(360deg);}
            }


*/
/*********POPUP*************/
  .popup {
  width:100%;
  height:100%;
  display:none;
  position:fixed;
  top:0px;
  left:0px;
  background:rgba(0,0,0,0.75);
  z-index: 9999;
}

/* Inner */
.popup-inner {
  border: 6px solid gold;
  text-align: center;
  max-width:480px;
  width:90%;
  padding:40px;
  position:absolute;
  top:50%;
  color: white;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  box-shadow:0px 2px 6px rgba(0,0,0,1);
  border-radius:3px;
 background: #000;
}

/* Close Button */
.popup-close {
  width:30px;
  font-size: 18px;
  height:30px;
  padding-top:4px;
  display:inline-block;
  position:absolute;
  top:0px;
  right:0px;
  transition:ease 0.25s all;
  -webkit-transform:translate(50%, -50%);
  transform:translate(50%, -50%);
  border-radius:1000px;
  background:rgba(0,0,0,0.8);
  font-family:Arial, Sans-Serif;
  border: 1px solid white;
  text-align:center;
  line-height:100%;
  color:#fff;
}

.popup-close:hover {
  color:gold;
  -webkit-transform:translate(50%, -50%) rotate(180deg);
  transform:translate(50%, -50%) rotate(180deg);
  background:rgba(0,0,0,1);
  text-decoration:none;
}