.navbar-brand img {
	width: 75px;
}
.navbar-brand {
	margin-right: 0;
}
.navbar {
	background-color: transparent;
}
#player_slider {
	width: 100%;
}
#player_slider .slider-selection {
	background: gold;
}
.player-div {
	background-color: #000;
	color: #fff;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  _transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  /*transition: margin-left .5s;*/
}

.open-sidenav {
	padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    margin-right: 1rem;
}
.open-sidenav:hover {
	border-color: rgba(0,0,0,.1);
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.hide {
  display: none;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  }
div#center {
    text-align: center;
}
video {
    width: 90%;
        height: 70vh;

}
.slider-handle.round{
  border-radius: 0px;
}
.slider.slider-horizontal {
    width: 100%;
  }

.slider-selection{
    background: gold !important;

}
.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle{
  border-radius: 0px;
}

html{
    overflow-x: hidden;
}
span a {
    display: block;
    color: white;
    text-decoration: underline;
}
span a:hover{
   color: gold;
}
/*********POPUP*************/
  .popup {
  width:100%;
  height:100%;
  display:none;
  position:fixed;
  top:0px;
  left:0px;
  background:rgba(0,0,0,0.75);
  z-index: 9999;
}

/* Inner */
.popup-inner {
  border: 6px solid gold;
  text-align: center;
  max-width:480px;
  width:90%;
  padding:40px;
  position:absolute;
  top:50%;
  color: white;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  box-shadow:0px 2px 6px rgba(0,0,0,1);
  border-radius:3px;
 background: #000;
}

/* Close Button */
.popup-close {
  width:30px;
  font-size: 18px;
  height:30px;
  padding-top:4px;
  display:inline-block;
  position:absolute;
  top:0px;
  right:0px;
  transition:ease 0.25s all;
  -webkit-transform:translate(50%, -50%);
  transform:translate(50%, -50%);
  border-radius:1000px;
  background:rgba(0,0,0,0.8);
  font-family:Arial, Sans-Serif;
  border: 1px solid white;
  text-align:center;
  line-height:100%;
  color:#fff;
}

.popup-close:hover {
  color:gold;
  -webkit-transform:translate(50%, -50%) rotate(180deg);
  transform:translate(50%, -50%) rotate(180deg);
  background:rgba(0,0,0,1);
  text-decoration:none;
}